
#container{
    display: grid;
    grid-template-areas: 
    'hd'
    'nv'
    'sc1'
    'sc2'
    'sc3'
    'ft';
    grid-template-columns: 1fr;
    grid-template-rows: 200px 150px 370px 370px 370px 200px;
    gap: 20px;
    background-color: #fdffd2;
    overflow: hidden;
}

header{
    grid-area: hd;
    background-color: white;
    border-radius: 50px;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
}

#nav{
    grid-area: nv;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color:white;
    font-size: 20px;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    padding-left: 20px;
    padding-right: 20px;
}

#logo{

}

#section1{
    grid-area: sc1  ;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
}

#section2{
    grid-area: sc2  ;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
}

#section3{
    grid-area: sc3  ;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
}

#footer{
    grid-area: ft;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
}

.menu{
    display: none;
}

.menu-button{
    display: none;
}

.menu-button i.material-icons{
    display: none;
}

.show{
    display: none;
}

.fade-layer{
    display: none;
}

.fade-layer.visible{
    display: none;
}

@media(max-width:1000px){ 

    #container{
        grid-template-areas: 
        'hd'
        'sc1'
        'sc2'
        'sc3'
        'ft';
        
        background-color: #fdffd2;
        grid-template-rows: 200px 650px 650px 650px 200px;
        width: 100vw;  
        overflow: hidden;
    }

    #header{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #nav{
        display: none;
    }

    #bigtext{
        display: none;
    }

    #logo{
        display: none;
    }

    #white
    
    #section1{
        width: 100vw;  
    }

    #section2{
        width: 100vw;  
    }

    #section3{
        width: 100vw;  
    }

    #footer{
        width: 100vw;
    }

    .menu{
        height: 100vh;
        width: 50vw;
        background:white;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 10% 80% 10%;
        grid-area: 
        "mn";
        font-size: 50px;
    }
    
    .menu-button{
        cursor: pointer;
        display: inline;
    }
    
    .menu-button i.material-icons{
        width: 100px;
        height: 100px;
    }
    
    .show{
        left: 0;
    }
    
    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }
    
    .fade-layer.visible{
        display: block;
    }
}